$mobile: 720px;

body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  height: 80px;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .site-logo {
      padding-left: 10%;

      img {
        width: 100%;
        max-width: 200px;
      }
    }

    .nav_menu {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-right: 10%;

      @media (max-width: $mobile) {
        position: fixed;
        top: 80px;
        left: 0;
        width: 100%;
        right: -100%;
        height: calc(100vh - 80px);
        background-color: #e00000;
        color: white;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: none;
        transition: transform 0.5s ease-in-out;
      }
    }

    .nav_link {
      margin: 0 10px;

      @media (max-width: $mobile) {
        font-size: 44px;
      }
    }

    a.nav_link {
      @media (max-width: $mobile) {
        color: white;
      }
    }

    .hamburger {
      display: none;

      @media (max-width: $mobile) {
        display: block;
        padding-right: 40px;
      }
    }

    ul {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      width: 350px;

      @media (max-width: $mobile) {
        flex-direction: column;
        height: 250px;
      }
    }
  }
}
