header {
  height: 80px;
}

.site-logo {
  display: flex;
  align-items: center;
  width: 30%;
  height: 80px;
  position: relative;
  left: 5%;
  img {
    height: 14px;
    display: flex;
    width: 216px;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 14px;
  ul {
    display: flex;
    justify-content: space-between;
    width: 30%;
  }
}
