// Variables
$mobile: 768px;

// Styles
body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  height: 80px;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .site_logo {
      padding-left: 10%;

      img {
        width: 100%;
        max-width: 200px;
      }
    }

    .hamburger {
      display: none; // Masquer le burger menu par défaut
      cursor: pointer;
      position: relative; // Positionner les éléments enfants de façon absolue

      .bar {
        display: block;
        width: 30px;
        height: 3px;
        margin: 5px;
        transition: all 0.3s ease-in-out;
        background-color: black;
      }
    }

    .nav_menu {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-right: 10%;

      a {
        margin: 0 10px;
        color: black;
        font-size: 16px;
        display: flex;
      }

      ul {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        width: 400px;
      }
    }

    @media (max-width: $mobile) {
      .nav_menu {
        position: fixed; // Position absolue pour le positionner au-dessus du header
        top: -100%; // Le faire démarrer hors de l'écran vers le haut
        left: 0;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-color: #e00000; // Fond rouge même lorsque le menu est fermé
        opacity: 0; // Commence avec une opacité nulle
        pointer-events: none; // Empêcher les clics sur le menu invisible
        transition: top 0.7s ease-in-out, opacity 1s ease; // Transition pour le déplacement de haut en bas et l'effet de fondu
      }

      .hamburger {
        display: block;
        width: 40px;
        height: 30px;
        cursor: pointer;
        position: relative;
        margin-right: 10%;

        &.active {
          .bar:nth-child(2) {
            opacity: 0;
          }

          .bar:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
          }

          .bar:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
          }
        }
      }

      .nav_menu.active {
        top: 80px;
        opacity: 1;
        pointer-events: auto; // Activer les clics sur le menu visible
      }

      // Styles pour les liens du menu burger
      .nav_menu ul {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 300px;
      }

      .nav_menu a {
        color: white; // Couleur blanche pour les liens
        font-size: 44px; // Taille de police augmentée
      }

      // Effet de transition pour le menu burger
      .nav_menu,
      .hamburger {
        transition: top 1s ease, opacity 1s ease;
      }
    }
  }
}
